<html>
<head>
  <title>The Brewery</title>
  <link rel="stylesheet" href="css/normalize.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="css/skeleton.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="css/main.css" media="screen" title="no title" charset="utf-8">
</head>
<body>
    <div class="six columns offset-by-three Indcontainer">
  <!-- <h1>liquid intelligence</h1> -->
  <h1>{{name}}</h1>
  <h6><b>Technical Notes<b></h6>
  <p><b>Beer Style:</b> {{style}}</p>
  <p><b>Brewer:</b> {{brewer}}</p>
  <p><b>Bottle Yield:</b> {{yield}}</p>
  <p><b>Brew Date:</b> {{brewDate}}</p>
  <p><b>Bottling Date:</b> {{bottlingDate}}</p>
  <p><b>Original Gravity:</b> {{original}}</p>
  <p><b>Final Gravity:</b> {{final}}</p>
  <p><b>Mash Temperature:</b> {{mash}}</p>
  <p><b>Ferment Temperature:</b> {{ferment}}</p>
  <p><b>ABV:</b> {{abv}}</p>
  <p><b>IBU:</b> {{ibu}}</p>
  <p><b>Ingredients:</b> {{ingredients}}</p>
  <p><b>Brewing Process:</b> {{brewing}}</p>
  <p><b>Fermentation Process:</b> {{fermentation}}</p>
  <p><b>Tasting Notes:</b> {{tasting}}</h5>
  <br>
  <br>
  <button id="backBtn">Go Back</button>
  </div>
</body>
</html>
