<html>
<head>
  <title>The Brewery</title>
  <link rel="stylesheet" href="css/normalize.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="css/skeleton.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="css/main.css" media="screen" title="no title" charset="utf-8">
</head>
<body>
    <div class="six columns offset-by-three Indcontainer">
  <h1>liquid intelligence</h1>
  <h2>{{name}}'s details</h2>
  <h3>Beer Style: {{style}}</h3>
  <h3>Brewer: {{brewer}}</h3>
  <h3>Bottle Yield: {{yield}}</h3>
  <h3>Brew Date: {{brewDate}}</h3>
  <h3>Bottling Date: {{bottlingDate}}</h3>
  <h3>Original Gravity: {{original}}</h3>
  <h3>Final Gravity: {{final}}</h3>
  <h3>Mash Temperature: {{mash}}</h3>
  <h3>Ferment Temperature: {{ferment}}</h3>
  <h3>ABV: {{abv}}</h3>
  <h3>IBU: {{ibu}}</h3>
  <h3>Ingredients: {{ingredients}}</h3>
  <h3>Brewing Process: {{brewing}}</h3>
  <h3>Fermentation Process: {{fermentation}}</h3>
  <h3>Tasting Notes: {{tasting}}</h3>
  <button id="backBtn">Go Back</button>
  </div>
</body>
</html>
  
